.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
}

.containerForQR {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 18%;
  background-color: hsl(212, 45%, 89%);
  padding: 10px;
}

.qr-card {
  width: 100%;
  border: 0px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
}

.qr-image {
  height: 50%;
  width: 100%;
  border-radius: 15px;
}

.qr-image img {
  width: 100%;
  border-radius: 15px;
}

.qr-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  color: hsl(212, 45%, 11%);
  padding: 0%;
  margin: 0%;
}

p {
  font-size: 1rem;
}

@media screen and (max-width: 1440px) {
  .containerForQR {
    width: 22%;
  }
}

@media screen and (max-width: 1024px) {
  .containerForQR {
    width: 27%;
  }
}

@media screen and (max-width: 768px) {
  .containerForQR {
    width: 42%;
  }
}

@media screen and (max-width: 480px) {
  .containerForQR {
    width: 80%;
  }
  h2 {
    font-size: 1rem;
  }
}
